table{
  text-align: center;
  border: 1px solid;
}
tr{
  display: flex;
  text-align: center;
  border: 1px solid;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 10px;
}
td{
  color:white;
  text-align: center;
  padding: 10px;
}
